@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

/* general styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya', serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* end of general styles */