@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

/* general styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Alegreya", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 2rem auto;
}
/* end of general styles */

/* social icons and first navbar */
.social-and-first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  font-size: 2.4rem;
  color: #12367f;
  padding: 0 2rem;
}

.social-icon i {
  transition: transform 0.2s;
}

.social-icon i:hover {
  transform: rotateZ(360deg);
}

.first-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.first-nav-item {
  font-size: 2.4rem;
  color: #12367f;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  position: relative;
}

.first-nav-item::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #12367f;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.first-nav-item:hover::after {
  width: 90%;
}

.first-nav-item i {
  font-size: 2rem;
  margin: 0 0.5rem;
}
/* end of social icons and first navbar */

/* search form */
.search {
    padding: 3rem;
    text-align: right;
}

.search-form {
  border-bottom: 2px solid #12367f;
  display: inline-block;
}

.search-input {
    padding: .3rem .4rem;
    border: none;
    font-size: 2rem;
    outline: none;
}

.search-btn {
    padding: .3rem .4rem;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: #12367f;
    cursor: pointer;
}
/* end of search form */

/* second nav bar */
.second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    margin: 1rem 3rem;
    border-bottom: 2px solid #12367f;
    border-top: 2px solid #12367f;
}

.second-nav-item {
    color: #12367f;
    padding: 1.2rem;
    position: relative;
    flex-grow: 1;
    text-align: center;
    transition: all .5s;
}

.second-nav-item:hover {
    background-color: #12367f;
    color: #fff;
}

.second-nav-item::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    bottom: 5px;
    right: 0;
    transition: all 0.3s .3s;
}

.second-nav-item:hover::after {
    width: 100%;
}

.second-nav-item::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 0;
    transition: all 0.3s .3s;
}

.second-nav-item:hover::before {
    width: 100%;
}
/* end of second nav bar */
